
.middle{
    display: flex;
    margin: 1em 0;
    flex-direction: column;
    gap: .5rem;
    width: 100%;


}
@media(max-width:900px){
    .middle{
        padding: 1em;
        width: 100%;
        align-items: center;
    }
}